#!/usr/bin/env python

#
# MUSIC CARD CONFIG
#
# Rename this file to config.py
#


ip = "192.168.1.80"
port = "5005"

# Room name designation
# If you want to play on all your speakers, set roomName = ""
roomName = "Hugo"
# roomName = "Salon"

# Multi read mode
# Choose the action to do on a successive read of the same card
#
multiReadMode = "cancel"
# multiReadMode = "next"          #TODO
# multiReadMode = "randomAlbum"   #TODO
# multiReadMode = "nextAlbum"     #TODO

# Previous card memory duration
previousCardTimeout = 30