# For firebase read only
firebase
python_jwt
gcloud
sseclient
requests-toolbelt
pycryptodome
# For firebase read/write
firebase_admin==3.1.0
requests
cryptography>=2.8
urllib3>=1.25.7
# For usb read, not avaiable on windows
evdev>=1.2.0