# For firebase read only
firebase
python_jwt
gcloud
sseclient
requests-toolbelt
pycryptodome
# For firebase read/write
firebase_admin
requests
cryptography
urllib3
# For usb read, not available on windows
evdev
# Sonos integration
soco